<html lang="en">
<head>

    <script src="https://use.typekit.net/oom3uon.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>书荒救星站</title>


    <!-- Icons -->
  <link rel="shortcut icon" href={{ url_for('static',filename='') }}"img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clean-blog.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/syntax.css') }}">



</head>
<body ontouchstart="">
	<style type="text/css">
    header.intro-header{
        background-image: url({{ url_for('static',filename='img/twitter.jpg') }})
    }
	</style>
	<header class="intro-header" >
    <div class="container">
	<div class="row">
		<div class="span12">
        <h3>
				当前数据库中记录为：
			</h3>
			<table class="table">
                <thead>
					<tr>
						<th>
							书名
						</th>
						<th>
                            作者
						</th>
						<th>
							字数
						</th>
						<th>
							类别
						</th>
					</tr>
				</thead>
				<tbody>
				{% for i in reli %}
					<tr>
						<td>
							<a href="https://www.17k.com/book/{{ i[4] }}.html">{{i[0]}}</a>
						</td>
						<td>
							<a href="https://user.17k.com/see/www/{{ i[5] }}.html">{{i[1]}}</a>
						</td>
						<td>
                            {{ i[2] }}
						</td>
						<td>
							{{ i[3] }}
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
            <form class="form-search" method="post">
				<input id="key_word" name="key_word" class="input-medium search-query" type="text" >
                <button type="submit" class="btn">更新数据库</button>
			</form>
            <a href="http://101.42.236.63/d">
            <button class="btn btn-primary btn-large btn-block" type="button" href="/download/">下载到电脑</button>
        </a>
		</div>
	</div>
</div>
	</header>




	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

				</div>
			</div>
		</div>
	</article>

	<!-- async load function -->
	<!-- <script>
		function async(u, c) {
		  var d = document, t = 'script',
			  o = d.createElement(t),
			  s = d.getElementsByTagName(t)[0];
		  o.src = u;
		  if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
		  s.parentNode.insertBefore(o, s);
		}
	</script> -->

	<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
	<!-- <script>
		async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
			anchors.options = {
			  visible: 'always',
			  placement: 'right',
			  icon: ''
			};
			anchors.add().remove('.intro-header h1').remove('.subheading');
		})
	</script> -->
	<style>
		/* place left on bigger screen */
		@media all and (min-width: 800px) {
			.anchorjs-link{
				position: absolute;
				left: -0.75em;
				font-size: 1.1em;
				margin-top : -0.1em;
			}
		}
	</style>

    <!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div>
					<p class="copyright text-muted">
					&copy;wlx的大作业
					</p>
				</div>
			</div>
		</div>
	</footer>


	<link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">


</body>

</html>
